<div class="container mt-3">
    <div class="badge bg-info fs-2"
        style="width: 35rem; height:3rem; letter-spacing:-5px; font-family: 'Courier New', Courier, monospace;">
        A d d P r o d u c t D e t a i l s
    </div>

    <div class=" w-auto">
        {{!-- input group text in the form button is center --}}
        <form class="needs-validation" novalidate enctype="multipart/form-data" action="/admin/add-product"
            method="post">
            <div class="form-row">
                <div class="mb-3 mt-2">
                    <label for="validationCustom01" class="input-group-text bg-primary text-bg-dark w-30 fw-semibold">P
                        r o d u c t N a m e</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="P r d o c t N a m e"
                        value="" name="Product_Name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="validationCustom02" class="input-group-text bg-primary text-bg-dark w-30 fw-semibold">P
                        r o d u c t B r a n d</label>
                    <input type="text" class="form-control" id="validationCustom02"
                        placeholder="P r o d u c t B r a n d" value="" name="Product_Brand" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6 mb-3 input-group-text">

                    <label for="validationCustom03" class="input-group-text bg-primary text-bg-dark fw-semibold">P r o d
                        u c t P r i c e
                        ₹</label>
                    <div class="input-group-text">
                        <span class="badge text-bg-danger">$</span>

                    </div>

                    <input type="text" class="form-control" id="validationCustom03" style="display: inline;"
                        aria-label="Amount (to the nearest dollar, indian rupee)" value="" name="Product_Price" required
                        placeholder=" P r o d u c t P r i c e ₹">

                    <div class="input-group-text">
                        <span class="badge text-bg-danger">.00</span>
                    </div>
                    <div class="valid-feedback">
                        Looks good Cost less!
                    </div>

                </div>
                <div class="mb-3">
                    <label for="validationCustom04" class="input-group-text bg-primary text-bg-dark w-30 fw-semibold">P
                        r o d u c t D e s c r i p t i o n</label>
                    <textarea class="form-control" aria-label="Description"
                        placeholder="P r o d u c t  D e s c r i p t i o n" name="Product_Description"
                        required></textarea>
                </div>
                <div class=" mb-3">
                    <label class="input-group-text bg-primary text-bg-dark w-30 fw-semibold" for="validationCustom05">U
                        p l o a d P r o d u c t I m a g e</label>
                    <input type="file" class="form-control" placeholder="U p l o a d P r o d u c t I m a g e"
                        name="Product_ImageId">

                </div>
            </div>
            <button class="btn btn-danger" type="submit">A d d P r o d u c t s </button>
        </form>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>
</div>