<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/order-success.css">

<body>
  <div class="container-fluid mt-3">
    <h1>
      Order Placed Successfully
    </h1>
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark fig">✓</i>
    </div>
    <h1>Success</h1>
    <p>We received your purchase request;<br /> we'll be in touch shortly!</p>
    <a href="/orders" class="btn btn-danger mt-3">View Orders</a>
  </div>
</body>