<link rel="stylesheet" href="/stylesheets/view-order-product.css">
<section class="viewOrderProduct">
    <div class="container mt-3">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 mb-3 mt-3">
                <div class="card">
                    <img src="/product-images/{{this.product._id}}.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.product.Product_Name}}</h5>
                        <p class="text-muted"> Qt: {{this.quantity}}</p>
                        <p class="card-text ">{{this.product.Product_Description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</section>